body {
    overscroll-behavior: none;
}

.box {
    border-radius: 5px;
    width: 80%;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 3%;
    top: 10%;
    margin: auto;
    padding: 20px 20px 35px 20px;
}

#title {
    display: inline-block; margin-top: 0; margin-bottom: 0;
}

#online {
    font-size: 20px; float: right; display: inline-block; margin-top: 0; margin-bottom: 0;
    color: grey;
}

#serverInfo {
    margin-top: 0; display: inline-block;
}

#playerCount {
    margin-top: 0; float: right;
}

#console {
    height: 80%;
    border-radius: 5px;
    overflow: scroll;
    padding: 5px;
    background-color: #151515;
}

#console_text {
    color: white;
    font-family: monospace;
    font-size: 15px;
    margin-top: 0;
}

#command {
    background-color: #151515;
    color: lightgray;
    font-family: monospace;
    margin-left: 1px;
    border:none;
    outline: none;
    font-size: 16px;
    width: 100%;
}

#command {
    margin-top: 5px;
}

#command::placeholder {
    color: lightgray;
}

#command::-ms-input-placeholder {
    color: lightgray;
}

.box button {
    margin-right: 5px;
}

#memoryBar {
    float: right; width: 30%; display: inline-block;
}

#memory {
    position: relative; left: 30%; float:right; margin-bottom: 0; display: inline-block;padding-left: 3px;
}

#memoryTitle {
    position: relative; left: 30%; float:right; margin-bottom: 0; display: inline-block;
}
