extends layout

block header
    link(rel='stylesheet', type='text/css', href='/stylesheets/update.css')
    script(type= "text/javascript", src= "/javascripts/update.js")

block content
    .box.mdc-card.mdc-elevation--z8
        h2#title.mdc-typography.mdc-typography--headline4= locale.update
        h3#computername.mdc-typography.mdc-typography--subtitle2= hostname
        .mdc-text-field
            input#server.mdc-text-field__input(type='text' tabindex=1 autocomplete='off' autocapitalize="none")
            .mdc-line-ripple
            label.mdc-floating-label= locale.server
        p#message
        br
        button#submit.mdc-button.mdc-button--raised= locale.submit
