extends layout

block header
    link(rel='stylesheet', type='text/css', href='/stylesheets/accounts.css')
    script(type='text/javascript', src= "/javascripts/accounts.js")

block content
    table#accounts
        tbody#accounts_input
