#main
    h1(style='display:inline;') Directory:
    h1#folder(style='display:inline;')
    p#computername= hostname
    p#foldercontents(hidden='')= folderContents
    #files
    br
    button#back.mdc-button.mdc-button--raised Back
