extends layout

block content
    #main
        h1(style='display:inline;') File Editor:
        h1#file(style='display:inline;')
        p#computername %COMPUTERNAME%
        pre#fileContents(contenteditable='true').
        br
        button#back.mdc-button.mdc-button--raised Back
        button#save.mdc-button.mdc-button--raised Save
        button#revert.mdc-button.mdc-button--raised Revert
        button#raw.mdc-button.mdc-button--raised Raw file
    