extends layout

block header
    link(rel='stylesheet', type='text/css', href='/stylesheets/fileEditor.css')
    script.
        let filePath = "#{file.path}";
    script(type='text/javascript', src= "/javascripts/fileEditor.js")

block content
    div#content(hidden)


    #authorization.box.mdc-card.mdc-elevation--z8(style="display: none")
        .demo-card__primary
            #title.demo-card__title.mdc-typography.mdc-typography--headline4 Password Required
        br
        .mdc-text-field
            input#password.mdc-text-field__input(type='password' tabindex=1)
            .mdc-line-ripple
            label.mdc-floating-label Password
        p#message
        button#submit.mdc-button.mdc-button--raised Submit




    