extends layout

block header
    link(rel='stylesheet', type='text/css', href='/stylesheets/index.css')
    script(type='text/javascript', src= "/javascripts/index.js")

block content
    .box.mdc-elevation--z8
        h2#title.mdc-typography.mdc-typography--headline4= " "
        h2#online.mdc-typography.mdc-typography--headline4= "LOADING..."
        br
        h3#serverInfo.mdc-typography.mdc-typography--subtitle2= address + ":" + port + " - " + hostname
        h3#playerCount.mdc-typography.mdc-typography--subtitle2
        #console.mdc-elevation--z4
            p#console_text
            input#command(type='text', placeholder='Command' autocomplete='off' autocapitalize="none")
        br
        div
            button#start.mdc-button.mdc-button--raised(disabled) Start
            button#stop.mdc-button.mdc-button--raised(disabled) Stop
            button#restart.mdc-button.mdc-button--raised(disabled) Restart

            span#processUsage(hidden)
                #memoryBar.mdc-linear-progress(role='progressbar')
                    .mdc-linear-progress__buffering-dots
                    .mdc-linear-progress__buffer
                    .mdc-linear-progress__bar.mdc-linear-progress__primary-bar
                        span.mdc-linear-progress__bar-inner
                    .mdc-linear-progress__bar.mdc-linear-progress__secondary-bar
                        span.mdc-linear-progress__bar-inner

                h3#memory.mdc-typography--subtitle2
                h3#memoryTitle.mdc-typography--subtitle2 Memory:

