extends layout

block header
    link(rel='stylesheet', type='text/css', href='/stylesheets/index.css')
    script(type='text/javascript', src= "/javascripts/index.js")

block drawer
    aside.mdc-drawer.mdc-top-app-bar--fixed-adjust.mdc-drawer--modal
        .mdc-drawer__header
            h3.mdc-drawer__title Minecraft Control Panel
            h6.mdc-drawer__subtitle= hostname
        .mdc-drawer__content
            nav.mdc-list
                a.mdc-list-item.mdc-list-item--activated(href='/')
                    i.material-icons.mdc-list-item__graphic(aria-hidden='true') code
                    span.mdc-list-item__text Console
                a.mdc-list-item(href='/properties')
                    i.material-icons.mdc-list-item__graphic(aria-hidden='true') list
                    span.mdc-list-item__text Server Properties
                a.mdc-list-item(href='/accounts')
                    i.material-icons.mdc-list-item__graphic(aria-hidden='true') account_circle
                    span.mdc-list-item__text Account Manager
                a.mdc-list-item(href='/files')
                    i.material-icons.mdc-list-item__graphic(aria-hidden='true') folder
                    span.mdc-list-item__text File Manager
                .mdc-list-divider
                a.mdc-list-item(href='/logout')
                    i.material-icons.mdc-list-item__graphic(aria-hidden='true') launch
                    span.mdc-list-item__text Logout

block content
    .box.mdc-elevation--z8
        h2#title.mdc-typography.mdc-typography--headline4= " "
        h2#online.mdc-typography.mdc-typography--headline4= "LOADING..."
        br
        h3#serverInfo.mdc-typography.mdc-typography--subtitle2= address + ":" + port + " - " + hostname
        h3#playerCount.mdc-typography.mdc-typography--subtitle2
        #console.mdc-elevation--z4
            pre#console_text
            input#command(type='text', placeholder='Command' autocomplete='off' autocapitalize="none")
        br
        div
            button#start.mdc-button.mdc-button--raised(disabled) Start
            button#stop.mdc-button.mdc-button--raised(disabled) Stop
            button#restart.mdc-button.mdc-button--raised(disabled) Restart

            span#processUsage(hidden)
                #memoryBar.mdc-linear-progress(role='progressbar')
                    .mdc-linear-progress__buffering-dots
                    .mdc-linear-progress__buffer
                    .mdc-linear-progress__bar.mdc-linear-progress__primary-bar
                        span.mdc-linear-progress__bar-inner
                    .mdc-linear-progress__bar.mdc-linear-progress__secondary-bar
                        span.mdc-linear-progress__bar-inner

                h3#memory.mdc-typography--subtitle2
                h3#memoryTitle.mdc-typography--subtitle2 Memory:
