extends layout

block header
    link(rel='stylesheet', type='text/css', href='/stylesheets/properties.css')
    script(type='text/javascript', src= "/javascripts/properties.js")

block drawer
    aside.mdc-drawer.mdc-top-app-bar--fixed-adjust.mdc-drawer--modal
        .mdc-drawer__header
            h3.mdc-drawer__title= locale.app_name
            h6.mdc-drawer__subtitle= hostname
        .mdc-drawer__content
            nav.mdc-list
                a.mdc-list-item(href='/')
                    i.material-icons.mdc-list-item__graphic(aria-hidden='true') code
                    span.mdc-list-item__text Console
                a.mdc-list-item.mdc-list-item--activated(href='/properties')
                    i.material-icons.mdc-list-item__graphic(aria-hidden='true') list
                    span.mdc-list-item__text Server Properties
                a.mdc-list-item(href='/accounts')
                    i.material-icons.mdc-list-item__graphic(aria-hidden='true') account_circle
                    span.mdc-list-item__text Account Manager
                a.mdc-list-item(href='/files')
                    i.material-icons.mdc-list-item__graphic(aria-hidden='true') folder
                    span.mdc-list-item__text File Manager
                .mdc-list-divider
                a.mdc-list-item(href='/logout')
                    i.material-icons.mdc-list-item__graphic(aria-hidden='true') launch
                    span.mdc-list-item__text Logout

block content
    #frame.box.mdc-elevation--z8
        h2.mdc-typography.mdc-typography--headline4(style='margin-top: 5px; margin-bottom: 3px;') Server Properties
        h3#computername.mdc-typography.mdc-typography--subtitle2(style='margin-top: 0; margin-bottom:5px')= hostname
        #properties.box
        br
        div
            button#submit.mdc-button.mdc-button--raised Save
