extends layout

block content
    #main
        h1 Minecraft Server Properties
        p#computername %COMPUTERNAME%
        #properties
        br
        button#submit.mdc-button.mdc-button--raised Submit
