extends layout

block header
    link(rel='stylesheet', type='text/css', href='/stylesheets/properties.css')
    script(type='text/javascript', src= "/javascripts/properties.js")


block content
    #frame.box.mdc-elevation--z8
        h2.mdc-typography.mdc-typography--headline4(style='margin-top: 5px; margin-bottom: 3px;') Server Properties
        h3#computername.mdc-typography.mdc-typography--subtitle2(style='margin-top: 0; margin-bottom:5px')= hostname
        #properties.box
        br
        div
            button#submit.mdc-button.mdc-button--raised Save
