#frame {
    border-radius: 5px; width:50%; position:fixed; left:0; right:0; bottom:10%; top:15%; margin:auto; padding: 20px 20px 55px 20px;
}

@media (max-height: 764px) {
    #frame {
        height: 75%;
    }
}

@media (max-height: 600px) {
    #frame {
        height: 70%;
    }
}

table {
    width:100%;
    overflow: scroll;
    margin-top: 10px;
    border-collapse: collapse;
}

.first-column {
    margin-left: 75px;
}

#accounts input[type="text"], #accounts input[type="password"]{
    width: 200px;
    border: none;
    font-size: 15px;
    background-color: transparent;

}

#accounts input:focus {
    outline: none;
}

#accounts input[type="text"]:disabled {
    background: transparent;
}

tr {
    border-bottom: 1px solid darkgray;
}

h4 {
    margin: 0;
    margin-bottom: 7px;
}

.mdc-icon-button {
    margin-left: 3px;
}

.mdc-checkbox {
    margin-left: 7px;
}
