@import url("../Roboto/roboto.css");

:root {
    --mdc-theme-primary: black;
}

* :not(pre) {
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

.mdc-drawer {
    height: auto;
}

.mdc-drawer {
    height: 100%;
}

body {
    margin: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: flex;
    height: 100vh;
}


.selectable {
    -webkit-touch-callout: default;
    -webkit-user-select: auto;
    -khtml-user-select: default;
    -moz-user-select: auto;
    -ms-user-select: auto;
    user-select: auto;
}

.mdc-drawer-app-content {
    flex: auto;
    overflow: auto;
    position: relative;
}


.app-bar {
    position: absolute;
}

.mdc-top-app-bar {
    z-index: 7;
}


.box {
    background-color: #ffffff;
}

::-webkit-scrollbar {
    display: none;
}

pre {
    margin-top: 0;
    margin-bottom: 0;
}

a:visited {
    color: blue;
}

button.material-icons {
    background-color: transparent;
    border: none;
    outline: none
}

.mdc-drawer__subtitle{
    margin-top: 5px;
}


@media(min-width: 592px) {
    .mdc-dialog .mdc-dialog__surface{max-width:100%}
}

h1 {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 1px;
}

