@import url("Roboto/roboto.css");


:root {
    --mdc-theme-primary: black;
}

body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    background-color: #f7f7f7;
    margin: 0;

}

.box {
    background-color: #ffffff;
}
h1 {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 1px;
}

#console {
    height: 80%;
    width: 99%;
    border-radius: 5px;
    overflow: scroll;
    padding: 5px;
    background-color: #151515;
}

#properties {
    height: 80%;
    width: 99%;
    border-radius: 5px;
    overflow: scroll;
    padding: 5px;
}

#accounts {
    height: 80%;
    width: 99%;
    border-radius: 5px;
    overflow: scroll;
    padding: 5px;

}

#accounts input:not([type="button"]) {
    width: 200px;
}

#files {
    height: 80%;
    width: 99%;
    border: 0.5px solid gray;
    border-radius: 5px;
    overflow: scroll;
    padding: 5px;
    background-color: white;
}

#fileContents {
    height: 80%;
    width: 99%;
    border: 0.5px solid gray;
    border-radius: 5px;
    outline: none;
    overflow: scroll;
    padding: 5px;
    background-color: white;
}


#console_text {
    color: white;
    font-family: monospace;
    font-size: 15px;
}

#command {
    background-color: #151515;
    color: lightgray;
    font-family: monospace;
    margin-left: 1px;
    border:none;
    outline: none;
    font-size: 16px;
}

#command::placeholder {
    color: lightgray;
}

#command::-ms-input-placeholder {
    color: lightgray;
}

#main {
    height: 700px;
    width: 900px;
    background-color: white;
    border: 0.5px solid gray;
    border-radius: 10px;
    box-shadow: 2px 2px 5px grey;
    margin: 0 auto;
    padding: 20px;
}

#main_login {
    height: fit-content;
    width: fit-content;
    background-color: white;
    border: 0.5px solid gray;
    border-radius: 10px;
    box-shadow: 2px 2px 5px grey;
    margin: 0 auto;
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
}

#main_accounts {
    height: 450px;
    width: 570px;
    background-color: white;
    border: 0.5px solid gray;
    border-radius: 10px;
    box-shadow: 2px 2px 5px grey;
    margin: 0 auto;
    padding: 20px;
}

input[type="button"] {
    width: 75px;
    margin-top: 7px;
    cursor: pointer;
}

button {
    cursor: pointer;
}

#computername {
    font-size: 15px;
    margin-bottom: 17px;
    margin-left: 2px;
}

::-webkit-scrollbar {
    display: none;
}

pre {
    margin-top: 0;
    margin-bottom: 0;
}

a:visited {
    color: blue;
}